.icon {
    font-size: 10rem;
    text-align: center
}

.msg {
    text-align: center
}

.title {
    text-align: center
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%
}
