.container {
  // display: flex;
  width: 100%;
  height: 60px;
}
.component {
  font-size: var(--default-font-size);
  padding: calc(var(--default-padding) / 2);
  width: 100%;
  cursor: pointer;
  border-radius: 0 !important;
  background-color: transparent;
}

.border {
  border: var(--default-border) solid var(--primary);
}

.withoutBorder {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: var(--default-border) solid var(--primary);
  border-radius: 0;
}

.label {
  color: var(--label);
  position: absolute;
  margin-top: 32px;
  font-size: 10px;
}
.disabled {
  cursor: not-allowed !important;
  background-color: gray !important;
  pointer-events: none;
}
