.component {
  font-size: var(--default-font-size);
  color: var(--light);
  border-radius: var(--default-border-radius);
  font-weight: 300;
  margin: var(--default-margin);
  cursor: pointer;
  border: 0;
  transition: all 0.2s ease-out;
  padding: var(--default-padding);
  background-color: var(--primary);
  &:hover {
    box-shadow: 0 5px 10px lightgray;
  }
  &.outline {
    background-color: var(--light);
    border: var(--default-border) solid var(--primary);
    padding: calc(var(--default-padding) - var(--default-border));
    color: var(--primary);
  }
  &.success {
    background-color: var(--success);
    color: var(--light);
  }
  &.danger {
    background-color: var(--danger);
    color: var(--light);
  }
  &.info {
    background-color: var(--info);
    color: var(--light);
  }
  &.warning {
    background-color: var(--warning);
    color: var(--light);
  }
  &.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform 0.5s, opacity 1s;
    }
    &:active:after {
      transform: scale(0, 0);
      opacity: 0.2;
      transition: 0s;
    }
  }
}

.disabled {
  cursor: not-allowed !important;
  background-color: gray !important;
  pointer-events: none;
}

span + span {
  margin-left: 0.5rem;
}

.hide {
  display: none;
}
