.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}

.component {
  font-size: var(--default-font-size);
  padding: calc((var(--topbar-height) - var(--default-font-size)) / 2);
  color: var(--light);
  width: var(--topbar-height);
  line-height: 0.9;
  font-weight: 300;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  transition: all 0.2s ease-out;
  &:hover {
    background-color: var(--primary);
  }
  &.disabled {
    color: var(--default-color-disabled) !important;
    cursor: not-allowed;
  }
  &.disabled:hover {
    background-color: transparent !important;
  }
  &.opened {
    background-color: var(--light) !important;
    color: var(--primary) !important;
  }
}

.list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: column;
  flex-direction: column;
  box-shadow: 4px 0 10px lightgrey;
  background-color: var(--light);
  color: var(--dark);
  padding: var(--default-padding);
  z-index: 10000;
  position: absolute;
  margin-left: var(--topbar-height);
  left: 0;
  transition: all 0.2s ease-out;
  animation-fill-mode: both;
  z-index: -1;
  &.closed {
    // display: none;
    left: -1200px !important;
  }
  &.fullmenu {
    top: var(--topbar-height);
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 1rem !important;
  }
}

span + span {
  margin-left: 0.5rem;
}
