.component {
    font-size: var(--default-font-size);
    padding: calc((var(--topbar-height) - var(--default-font-size)) / 2);
    color: var(--topbar-color);
    height: var(--topbar-height);
    line-height: 0.9;
    font-weight: 300;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
        background-color: var(--primary);
        color: var(--light)
    }
    &.disabled {
        color: var(--default-color-disabled) !important;
        cursor: not-allowed;
    }
    &.disabled:hover {
        background-color: transparent !important;
    }
}

span+span {
    margin-left: 0.5rem;
}